<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALLinq.Properties.Settings.StokTakipDConnectionString"
            connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=StokTakipD;User ID=test2;Password=test2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>