<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Toptanci_Goruntule.Properties.Settings.StokTakipDConnectionString"
            connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=StokTakipD;User ID=test;Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>